data/cache/
data/*.txt
!data/train.txt
!data/dev.txt
data/*.parquet
data/*.bin
data/*.json
!data/dataset_info.json
ckpt/*
!ckpt/best.pt
!ckpt/tokenizer.json
src/__pycache__/
eval/__pycache__/
!eval/result.json
*.pyc
.venv/
