data/cache/
data/*.parquet
data/*.jsonl
!data/sft_demo.json
!data/dpo_demo.json
ckpt/*
!ckpt/sft/
!ckpt/sft/adapter.pt
!ckpt/sft/adapter_config.json
!ckpt/dpo/
!ckpt/dpo/adapter.pt
!ckpt/dpo/adapter_config.json
models/*
!models/Qwen2.5-0.5B/
!models/Qwen2.5-0.5B/config.json
!models/Qwen2.5-0.5B/generation_config.json
!models/Qwen2.5-0.5B/model.safetensors
!models/Qwen2.5-0.5B/tokenizer.json
!models/Qwen2.5-0.5B/tokenizer_config.json
src/__pycache__/
eval/__pycache__/
!eval/result.json
__pycache__/
*.pyc
.venv/
